body {
    margin: 0;
}
.contact-section-1 {
    height: 100vh;
    width: 100%;
    background-image: url("contact\ images/contact_sec_1_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
   background-position: center;
}

.nav-bg {
    background-color: #0F110F;
}
.contact-section-1-title {
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding-top: 22%;
}

/*---------------------------------------------contact section 2---------------------------------------------------------------*/
.contact-section-2 {
    height: 100vh;
    width: 100%;
    background-image: url("contact\ images/contact_sec_2_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #222;
    color: #FFFFFF;
}

.contact-section-2-title {
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    /* padding-top: 6%; */
}

.contact-box {
    padding: 4%;
    border-radius: 10px;
}

.contact-box-title {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: left;
    margin-left: 14%;

}

.contact-box-paragraph {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    margin-left: 14%;
    margin-right: 22%;
}

.line-hr-section-5 {
    border-top: 2px solid #D6B43E;
    width: 50%;
    margin-top: 1.5%;
}

.contact-call-info {
    margin-top: 10%;
    margin-left: 14%;

}

.contact-call {
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0%;
}

.contact-image {
    margin-left: 0%;
    margin-bottom: -8%;
}

.contact-no {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 8%;
}

.contact-email-info,
.contact-location-info {
    margin-top: 3%;
    margin-left: 14%;
}

.contact-email,
.contact-location {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0%;
}

.email-image,
.location-image {
    margin-left: 0%;
    margin-bottom: -8%;
}

.email-id {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 8%;
}

.location {
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 8%;
    margin-right: 50%;
}

.form-box {
    width: 62%;
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    margin-top: 4%;
}

.form-label {
    font-family: Montserrat;
    color: #222;
    font-size: 1rem;
    font-weight: 400;
}

.form-control {
    font-family: Montserrat;
    font-size: 0.9rem;
    font-weight: 400;
    border: 2px solid #D6B43E !important;
    border-radius: 2px;
}

.checkbox-label {
    font-family: Open Sans;
    color: #41595B;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    border: 2px solid #DBE1EB;
    border-radius: 8px;
    width: 50%;
    padding: 1%;
}

.robot-image {
    margin-left: 10%;
}


.button {
    background-color: #D6B43E;
    color: #FFFFFF;
    padding: 2%;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-family: Catamaran;
    font-size: 1rem;
    font-weight: 500;

}

/* -------------------------------------services section 6- footer--------------------------------------------------> */
.footer {
    background-image: url("contact\ images/contact_sec_3_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-container {
    color: #FFFFFF;
}

.column-1-header {
    font-family: Roboto Serif;
    padding-left: 4rem;
    padding-top: 4rem;
    font-weight: 700;
    font-size: 32px;
}

.column-1-paragraph {
    font-family: Roboto Serif;
    padding-left: 4rem;
    padding-top: 31%;
    font-weight: 400;
    font-size: 16px;
}

.column-2-header {
    font-family: Roboto Serif;
    padding-left: 4rem;
    padding-top: 4rem;
    font-weight: 700;
    font-size: 24px;
}

.recent-news {
    font-family: Roboto Serif;
    padding: 25px;
    padding-left: 4rem;
}

.list {
    font-family: Roboto Serif;
    padding-bottom: 25px;
}

.column-3-header {
    font-family: Roboto Serif;
    padding-left: 4rem;
    padding-top: 4rem;
    font-weight: 700;
    font-size: 24px;
}

.links {
    padding: 25px;
    padding-left: 4rem;
    list-style: none;

}

.links li {
    padding-bottom: 25px;
}

.links li a {
    font-family: Roboto Serif;
    text-decoration: none;
    color: #FFFFFF;
}




/*--------------------------------------media query-----------------------------------------------*/
@media (min-width:320px) and (max-width:480px) {

    /*--------------------------------------contact section 1-------------------------------------------------------------*/
    .contact-section-1 {
        height: auto;
        width: 100%;
    }


    .about-section-1-logo {
        margin-bottom: 0%;
        font-size: 1.2rem;
    }

    .about-section-1-nav-links {
        display: block;
        margin-left: 13%;
        /* margin-top: -5%; */
    }

    .about-section-1-nav-links a {
        font-size: 1rem;
        margin-left: -39%;
    }

    /* .contact-section-1-logo {
        margin-bottom: 0%;
        font-size: 1.2rem;
    }

    .contact-section-1-nav-links {
        display: block;
        margin-left: 70%;
        margin-top: -10%;
    }

    .contact-section-1-nav-links a {
        font-size: 1rem;
        margin-left: -31%;
    } */

    .contact-section-1-title {
        font-size: 3rem;
        padding-bottom: 17%;
        margin-bottom: 0%;
    }

    /*---------------------------------------------contact section 2---------------------------------------------------------------*/
    .contact-section-2 {
        height: auto;
        width: 100%;
    }

    .contact-section-2-title {
        font-size: 1.5rem;
    }

    .contact-box {
        padding: 4%;
        border-radius: 10px;
    }

    .contact-box-title {
        font-size: 1.4rem;
        margin-left: -6%;

    }

    .contact-box-paragraph {
        font-size: 0.9rem;
        margin-left: -5%;
        margin-right: 13%;
    }

    .line-hr-section-5 {
        width: 100%;
        margin-left: -19%;
    }

    .contact-call-info {
        margin-top: 10%;
        margin-left: 14%;

    }

    .contact-call {
        margin-left: -21%;
    }

    .contact-image {
        margin-left: -20%;
        margin-bottom: -17%;
    }

    .contact-no {
        font-size: 1rem;
        margin-left: -7%;
    }

    .contact-email-info,
    .contact-location-info {
        margin-top: 10%;
        margin-left: 14%;
    }

    .contact-email,
    .contact-location {

        margin-left: -21%;
    }

    .email-image,
    .location-image {
        margin-left: -20%;
        margin-bottom: -17%;
    }

    .email-id {
        font-size: 1rem;
        margin-left: -6%;
    }

    .location {
        font-size: 1rem;
        margin-left: -9%;
        margin-right: 5%;
    }

    .form-box {
        width: 100%;
    }

    .form-label {
        font-size: 0.8rem;
    }

    input.form-control  {
        font-size: 0.8rem;
    }
    textarea.form-control  {
        font-size: 0.8rem;
    }

    .checkbox-label {
        font-size: 0.8rem;
        width: 66%;
    }

    .robot-image {
        margin-left: 10%;
    }


    .button {
        padding: 2%;
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
    }

    /* -----------------------------------footer section-------------------------------*/
    .footer {
        height: auto;
        width: 100%;
    }

    .column-1-header {
        font-size: 1.6rem;
    }

    .column-2-header {
        margin-left: 6%;
    }

    .column-3-header {
        margin-left: 6%;
        margin-top: -22%;
    }

    .list {
        margin-right: -8%;
        margin-left: -14%;
    }

    .recent-news {
        padding-left: 30%;
    }

    .links {
        padding-left: 40%;
    }
}


@media (min-width: 481px) and (max-width: 767px) {

    /*----------------------------------contact section 1---------------------------------------------------------*/
    .contact-section-1 {
        height: auto;
        width: 100%;
    }


    .about-section-1-logo {
        margin-left: 9%;
        font-size: 1.2rem;
    }

    .about-section-1-nav-links {
        margin-top: -2%;
        margin-left: -2%;
    }

    .about-section-1-nav-links a {
        font-size: 1.2rem;
    }

    /* .contact-section-1-nav-links {
        display: block;
        margin-left: 79%;
    }

    .contact-section-1-nav-links a {
        font-size: 1rem;
        margin-left: -31%;
    } */

    .contact-section-1-title {
        margin-bottom: 0%;
        font-size: 4rem;
        padding-bottom: 28%;
    }

    /*---------------------------------------------contact section 2---------------------------------------------------------------*/
    .contact-section-2 {
        height: auto;
        width: 100%;
    }

    .contact-section-2-title {
        font-size: 2rem;
        padding-top: 5%;
    }

    .contact-box {
        padding: 4%;
        border-radius: 10px;
    }

    .contact-box-title {
        font-size: 1.5rem;
        margin-left: -6%;

    }

    .contact-box-paragraph {
        font-size: 1rem;
        margin-left: -5%;
        margin-right: 13%;
    }

    .line-hr-section-5 {
        width: 100%;
        margin-left: -19%;
    }

    .contact-call-info {
        margin-top: 10%;
        margin-left: 14%;

    }

    .contact-call {
        margin-left: -21%;
    }

    .contact-image {
        margin-left: -20%;
        margin-bottom: -17%;
    }

    .contact-no {
        margin-left: -10%;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .contact-email-info,
    .contact-location-info {
        margin-top: 10%;
        margin-left: 14%;
    }

    .contact-email,
    .contact-location {
        margin-left: -21%;
    }

    .email-image,
    .location-image {
        margin-left: -19%;
        margin-bottom: -17%;
    }

    .email-id {
        margin-left: -9%;
        margin-bottom: 1%;
        margin-top: 2%;
    }

    .location {
        margin-left: -9%;
        margin-right: 29%;
        margin-bottom: 1%;
    }

    .form-box {
        width: 100%;
    }

    .form-label {
        font-size: 1rem;
    }

    .form-control {
        font-size: 0.9rem;
        font-weight: 400;
    }

    .checkbox-label {
        width: 66%;
    }

    .robot-image {
        margin-left: 10%;
    }


    .button {
        padding: 2%;
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
    }

    /* -----------------------------------footer section-------------------------------*/
    .footer {
        height: auto;
        width: 100%;
    }

    .column-1-header {
        margin-left: 12%;
    }

    .column-1-paragraph {
        margin-left: 12%;
    }

    .column-2-header {
        margin-left: 19%;
    }

    .recent-news {
        margin-left: 14%;
    }

    .column-3-header {
        margin-left: 20%;
        padding-top: 1%;
    }

    .links {
        margin-left: 28%;
    }













}

@media (min-width:768px) and (max-width:1024px) {

    /*-----------------------------------------contact section 1--------------------------------------------------------*/
    .contact-section-1 {
        height: auto;
        width: 100%;
    }

    .about-section-1-logo {
        margin-left: 2%;
        font-size: 1.2rem;
        padding-top: 1%;
        margin-left: 40%;
    }

    .about-section-1-nav-links {
        display: flex;
        justify-content: space-around;
        margin-right: 5%;
    }

    .about-section-1-nav-links a {
        font-size: 1.1rem;
    }
    .contact-section-1-title {
        font-size: 4rem;
        padding-bottom: 11%;
        margin-bottom: 0%;
    }

    /*---------------------------------------------contact section 2---------------------------------------------------------------*/
    .contact-section-2 {
        height: auto;
        width: 100%;
    }

    .contact-section-2-title {
        font-size: 2rem;
    }

    .contact-box {
        padding: 4%;
    }

    .contact-box-title {
        font-size: 2rem;

    }

    .contact-box-paragraph {
        margin-right: 6%;
        font-size: 0.9rem;
    }

    .line-hr-section-5 {
        width: 50%;
        margin-top: 1.5%;
    }

    .contact-call-info {
        margin-top: 10%;
        margin-left: 14%;

    }

    .contact-call {
        font-size: 1rem;
        margin-bottom: 0%;
    }

    .contact-image {
        margin-left: -1%;
        margin-bottom: -15%;
    }

    .contact-no {
        font-size: 1em;
        margin-left: 8%;
    }

    .contact-email-info,
    .contact-location-info {
        margin-top: 3%;
        margin-left: 14%;
    }

    .contact-email,
    .contact-location {
        font-size: 1rem;
        margin-bottom: 0%;
    }

    .email-image,
    .location-image {
        margin-left: -1%;
        margin-bottom: -16%;
    }

    .email-id {
        font-size: 1rem;
        margin-left: 8%;
    }

    .location {
        font-size: 1rem;
        margin-right: 20%;
    }

    .form-box {
        width: 100%;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .form-control {
        font-size: 0.8rem;
    }

    .checkbox-label {
        font-size: 0.9rem;
        width: 61%;
    }

    .robot-image {
        margin-left: 10%;
    }


    .button {
        padding: 2%;
        width: 100%;
    }

    /* -----------------------------------footer section-------------------------------*/
    .footer {
        height: auto;
        width: 100%;
    }

    .column-1-header {
        padding-left: 16%;
        padding-top: 19%;
        font-size: 1.7rem;
    }

    .column-3-header {
        margin-top: 1%;
    }

    .column-1-paragraph {
        margin-top: 25%;
        margin-left: -6%;
    }

    .list {
        margin-left: 0%;
        margin-right: -48%;
    }
}